@use "../../../styles/partials/mixin" as *;
@use "../../../styles/partials/variables" as *;
.error {
  &__state {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-top: 0.25rem;
  }

  &__icon {
    height: 1rem;
  }

  &__message {
    color: $red-error;
  }
}

.invalid {
  border-color: $red-error;
}
.redirect {
  @include flex(row, center, space-between);
}
.forgot__pass {
  @include mobile-footer-copy;
  color: $forgot-pass;
  margin-right: 0;
}


.input{
  &-wrapper{
    position: relative;
  }
  
  &-icon{
position: absolute;
top: 50%;
right: 7%;
cursor: pointer;
}}