@use "../../styles//partials/variables" as *;
@use "../../styles//partials/mixin" as *;
.white-theme {
  background-color: $primary-tealish-green-1;
}

.lightgreen-theme {
  background-color:$primary-tealish-green-2;

  color: $secondary-white;
}

.darkgreen-theme {
  background-color: $primary-medium-green;
  color: $secondary-white;
}
.message__text {
  text-align: center;
@include mobile-page-header;
  margin: 1.5rem;
}
.text {
  color: $primary-medium-green;
}
