@font-face{
    font-family: "Inter";
    src:url("/src/assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "Inter";
     src:url("/src/assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
      font-weight: 600;
}
@font-face {
    font-family:  "Inter";
       src:url("/src/assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
      font-weight: 400;
}