$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

//color
$primary-medium-green: #34a853;
$primary-tealish-green-1: #e8f1e8;
$secondary-white: #ffff;
$red-error: #FF0000;

$border-grey:#181918;
$secondary-light-grey: #828282;

//primary-color
$primary-medium-green : #34A853;
$primary-tealish-green-1: #D4F7DD;
$primary-tealish-green-2: #72D18C;


//secondary color
$secondary-black : #000000;
$secondary-white :#FFFFFF;
$secondary-light-grey: #D9D9D9;