@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
.hero {
  @include flex(row, center, flex-start);
  padding-left: 1rem;
  padding-right: 1rem;

}
.intro{
    @include mobile-page-header;
}
.worker {
  width: 6rem;
  margin-top: 2rem;
}
.vector {
    @include vector(-1rem);
  bottom: -1rem;


}

.trade__service{
  color: $primary-medium-green;
  display: inline-block;
  width: 8rem;
  white-space: nowrap;
}
.button__active{
  position: relative;
}
.details{
  @include mobile-body-copy;
}