@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
.hero {
  @include flex(row, center, flex-start);
  padding-left: 1rem;
  padding-right: 1rem;
}

.worker {
  width: 6rem;
  margin-top: 2rem;
}
.vector {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: -12;
  object-fit: contain;
}

.trade__service{
  color: $primary-color;
  display: inline-block;
  width: 8rem;
  white-space: nowrap;
}