@use "../../../styles/partials/mixin" as *;
@use "../../../styles/partials/variables" as *;
.header {
  @include flex(row, space-between, center);
  margin-right: 1rem;
}

.logo {
  cursor: pointer;
}
.menu {
  size: 2rem;
  color: $secondary-black;
  cursor: pointer;
}
.arrow-left {
  border: none;
  background-color: transparent;
  text-decoration: none;
  @include flex(row, center, center);
  cursor: pointer;
}
.arrow path[d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"],
.arrow path[d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"] {
  display: none;
}

.arrow {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &-circle {
    transition: transform 0.3s ease;
  }
}

.arrow:hover {
  transform: translateX(-5px);
  transform-origin: center;
}
