@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.design {
  background-image: url("../../assets/images//background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include flex(column, center, center);
  flex-wrap: nowrap;
  color: $secondary-white;
  width: 100%;
  height: 32rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  &__title {
    position: relative;
@include mobile-page-header;
    margin: 1.5rem;
    margin-bottom: 0;
  }
}
.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.highlight {
  color: $primary-medium-green;
}
.description {
  @include flex(column, center, center);
  position: relative;

margin-right: 1.5rem;
  @include mobile-body-copy;
}
.phone-screen {
  position: relative;
    width: 12rem;
    height: 20rem;
  z-index: 2;
}

.section__demo {
  @include flex(row, space-between, center);
}
.demo-btn {
  margin-bottom: 2rem;
  position: relative;
}

