@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.menu{
      z-index: 20;
  &__list {
  list-style: none;
  @include flex(column, center, center);
  padding-left: 0;
  row-gap: 0.5rem;
}}
.menu__container {
  position: relative;
  bottom: 0.5rem;
}
.menu-link {
  text-decoration: none;
  color: $secondary-white;
  text-align: center;
}

.menu-link:hover {
  color: $primary-medium-green;
}
.toggle {
  background: none;
  border: none;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
  svg {
    width: 2rem;
    height: 2rem;
  }
  &:hover {
    color: $secondary-light-grey;
  }
}

.menu {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 3rem;
  right: 0;
  border-radius: 0.6rem;
  // width: 7rem;
  min-width: 8rem;
  height: fit-content;
  // height: 7rem;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  &.open {
    display: block;
  }
}
