@use "../../styles/partials/mixin" as *;
.footer {
  text-align: center;
  &__logo {
    cursor: pointer;
  }
}
.list {
  list-style: none;
  padding-left: 0;
  line-height: 2rem;
  &__about,
  &__blog,
  &__login,
  &__contact {
    cursor: pointer;
  }
}

.term {
  @include flex(row, space-between, center);
  font-size: 0.5rem;
  margin: 1rem;
}
