@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.privacy {
  font-size: 0.5rem;
  font-weight: bold;
  @include flex(row, center, center);
  column-gap: 0.5rem;
  &-policy,
  &-term {
    cursor: pointer;
  }
}
